$c:#fcedd4;
$b:#1a281f;
$r:#cc0000;
.Landing-ColPort{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: flex-start;
    background-color: $b;
    z-index: 0;
}
.headlinePort{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: right;
    line-height: .95;
    h1{
        font-size: 4rem;
        color:$c;
        margin-left: 5vw;
        margin-bottom: 2vh;
        z-index: 1;
    }
}
.LinksPort{
    .line{
        margin-right: auto;
        margin-left: 0;
        color:$r;
        width: 70vw;
        height: 3px;
        display: block;
        border-top: 2px solid $r;
        z-index: 2;
    }
   
}
.NaviPort{
    justify-self: flex-end;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}
.FairviewVideo{
    position: absolute; 
    top: 15vh; 
    left:0;
    width:100vw;
    height:85vh; 
    z-index: -1;
    video{
        height: 90%;
        width: 90%;
        margin-top: 0;
        margin-bottom: auto;
        source{
            height:100%;
            width:100%;
        }
    }
}
.action-row{
    display: flex;
    flex-direction: row;
    margin-top: 70vh;
    justify-content: flex-end;
    .port-buttons{
        display: block;
        border: 2px $r solid;
        border-radius: 5px;
        padding: 7px 5px;
        margin-right: 10px;
        text-decoration: none;
        color: $r;
        transition: all .5s ease-out;
    }
    .port-buttons:hover{
        background-color: $r;
        color: $b;
        transform: translateY(-2px);
    }
}