@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&family=Poppins&display=swap');
body{
  font-family: "chivo";
  
}
h1{
  font-family: "Poppins";
}
.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home-section{
  width: 100%;
  height: 400vh;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
}
.timeline{
  width: 5px;
  height: 355vh;
  background-color: coral;
  margin-top:auto;
  margin-bottom:auto;
  margin-left: 10px;
  box-shadow: 0px 0px 15px 5px rgba(255, 127, 80, 0.176);
}
.details{
  width: 95vw;
  height: 355vh; 
  margin-top:auto;
  margin-bottom:auto;
}
.detail-section{
  height: 115vh;
  width: 95vw;
  display:flex;
  flex-direction: row;
  
}
.img-col{
  width:55%
}
.text-col{
  width: 45%;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}
.text-col > *{
  color: coral;
  margin-bottom: 0 !important;
}
.text-col >h1 {
  font-size: 3rem;
 margin-bottom: 0 !important;
}
#currentJob{
  padding-top:20vh ;
}
.fairview{
  height: 100%;
  margin-left: 2vw;
  justify-content: center;
}
.fairview-text{
  text-align: right;
  margin-top: 0;
}


.img-col{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}
.img-col > * {
  margin-bottom: 20vh;
  border-radius: 50px;

}
#ball-logo{
  -webkit-filter: drop-shadow(20px 20px 60px #291810d7);
  filter: drop-shadow(20px 20px 60px #291810d7);
   left: -40vw;
   position: absolute;
   transform: rotate(122deg);
}
#Atom{
  filter: invert(61%) sepia(98%) saturate(1770%) hue-rotate(326deg) brightness(85%) contrast(101%);
}
.before-this{
  justify-content: center !important;
}
.navBar-section{
  height: 100%;
  width: 100%;
}
.navBar{
  background-color: #ff7f50;
  height: 30vh;
  width: inherit;
  position: fixed;
  top:5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navBar > a{
  width: 100%;
  display: flex;
 align-content: center;
}
.nav-links{
  filter: invert(39%) sepia(22%) saturate(5764%) hue-rotate(352deg) brightness(88%) contrast(57%);
  padding:1vw
}
.myButton {
  -webkit-filter: drop-shadow(20px 20px 60px #291810d7);
  filter: drop-shadow(20px 20px 60px #291810d7);
	background-color:#ff7f50;
	border-radius:8px;
	border:1px solid #ff7f50;
	display:inline-block;
	cursor:pointer;
	color:#282c34;
	font-family:Poppins;
	font-size:17px;
	padding:7px 45px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ff7f50;
  margin-right: 10px;
  margin-top: 15px;
  transition: padding 2s;
}
.myButton:hover {
	background-color:#ff7f50;
  .myButton:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
  }
}
.myButton:active {
	position:relative;
	top:1px;
}
.buttonRow{
  display: flex;
  flex-direction: row;
  height: auto;
}
@media only screen and (max-width: 600px) {
  .detail-section{
    flex-direction: column;
  }
  .text-col > *{
    color: coral;
    margin-right:2vw;
    
  }
  .text-col{
    width: 100%;
    flex-direction: column
  }
  .text-col >h1 {
    font-size: 2rem;
    display:flex;
    flex-direction: row;
     margin-bottom: 0 !important;
  }
  .img-col{
    top:-60vh;
    width:100%
  }
  .img-col > * {
    
    transform: scale(2.3);
  }
  .fairview{
    height: 100%;
    margin-top: 10vw;
    justify-content: flex-start;
  }
}
