.nav{
    position: fixed;
    height: 100vh;
    width: 5%;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all .35s ease-in-out;
    z-index: 1;
  }
  .nav-div{
    position: fixed;
    height: 100vh;
    width: 95%;
    background-color: #f8f8ff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all .35s ease-in-out;
    z-index: 1;
  }
  .menu_bars{
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  span{
      background-color: rgb(62, 62, 62);
      height: 3px;
      display: block;
      margin: 2px;
  }
}
  .close{
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span{
      background-image: url("./Assets/closebtn.svg");
      background-size:100% 100%;
      height: 100%;
      width: 42px;
      margin-left:1vw;
    }
    span:nth-child(2){
      display: none;
    }
    span:nth-child(3){
      display: none;
    }
}
  .invis{
    display: none;
  }  
  .vis{
    width:100%;
    height: 50%;
    ul {
      list-style: none;
      display: flex;
      height: inherit;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  @media (max-width:600px){
    .nav-div{
        position: fixed;
        height: 95vh;
        width: 100%;
        background-color: #f8f8f8;
        justify-content: flex-start;
        flex-direction: column;
    } 
    .nav{
        position: fixed;
        height: 5vh;
        width: 100%;
        background-color: white;
        justify-content: flex-end;
        flex-direction: row;
      }
    .menu_bars{
        height: 80%;
        width: 10%;
        margin: 5px;
    }  
    .close{
       height: 5%;
        width: 10%;
        margin: 5px;
        justify-self: unset;
        span{
          width: 33.5px;
        }
    }
  }
  .nav-links{
    text-decoration: none;
    color:black
  }